<hr/>
<div class="footer">
    <p>Here at Pogona, we love books and we hope you love them too. Occationally, we'll link you to a book via <a href="https://www.amazon.com/?tag=pogona-20">Amazon</a> in order to keep our site running. We wanted you to know that Pogona is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites. Thank you for reading our work!</p>
</div>