{% load wagtailcore_tags blog_tags %}
<div class="sidebar-module">
    <h4 class='text-center'>Reach out</h4>
    <hr/>
    <table style="width:100%;text-align: center;"><tr>
        <td><a href="http://twitter.com/PogonaReport" target="_blank"><i class="fa fa-twitter" style="font-size:36px;"></i></a></td>
        <td><a href="https://www.instagram.com/pogonareport/" target="_blank"><i class="fa fa-instagram" style="font-size:36px;"></i></a></td>
        <td><a href="mailto:sarah@mail.pogonareport.com" target="_blank"><i class="fa fa-envelope" style="font-size:36px;"></i></a></td>
    </tr></table>
</div>
{% if self.content_type|stringformat:"s" != "blog index page" and self.content_type|stringformat:"s" != "home page" %}
<div class="sidebar-module">
    <h4 class='text-center'>Latest posts</h4>
    <hr/>
    {% blog_listing_sidebar 3 %}
</div>
{% endif %}
