{% load wagtailcore_tags wagtailimages_tags %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@PogonaOrg" />
{% if self.title %}
    <meta name="twitter:title" content="{{ self.title }}" />
{% else %}
    <meta name="twitter:title" content="Pogona" />
{% endif %}

{% if self.search_description %}
    <meta name="twitter:description" content="{{ self.search_description }}" />
{% else %}
    <meta name="twitter:description" content="Something to read. From us, to you." />
{% endif %}

{% if self.feed_image %}
    {% image self.feed_image fill-200x200 as img %}
    <meta name="twitter:image" content="http://pogona.org{{ img.url }}" />
{% elif self.main_image %}
    {% image self.main_image fill-200x200 as img %}
    <meta name="twitter:image" content="http://pogona.org{{ img.url }}" />
{% elif self.body %}
    {% regroup self.body by block_type as children %}
    {% for check in children %}
        {% if check.grouper == "aligned_image" %}
            {% with check.list|first as child %}
                {% image child.value.image fill-200x200 as img %}
                <meta name="twitter:image" content="http://pogona.org{{ img.url }}" />
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endif %}