{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }} / <a href="mailto:{{ page.owner.email }}">{{ page.owner.get_full_name }}</a> / {{comment_count}} comments</p>
    
    
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        <a href="{% pageurl self.blog_index %}?category={{category.name}}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if self.tags.all.count %}
        <div class="pull-right">
        {% for tag in self.tags.all %}
          <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
             class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-tag"></i> {{ tag }}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.body %}
        <div class="body-content">
            {% include "blog/includes/streamfield.html" with content=page.body %}
        </div>
    {% endif %}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-12">
            <hr/>
            <form method="post" id="comment-new" onsubmit="thanks()">
                {% csrf_token %}
                {{ form.as_p }}     
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script>
        function thanks(){
            alert("Thank you for submitting a comment.\nIt will appear shortly pending administrator approval.");    
        };
    </script>
    
    <h4>Comments</h4>
    <hr/>
    {% for comment in comments %}
    <p><b>On {{comment.created|date:'F j, Y @ f a'}}, {% if comment.post_as_administrator %}<img style="margin:0" src="{% static 'img/logo.svg' %}" alt="Pogona" width="15" />{% endif %}<span {% if comment.post_as_administrator %}style="color:#ff9955"{% endif %}>{{comment.name}}</span> said:</b></p>
    <p>{{comment.comment}}</p>
    {% endfor %}

{% endblock %}
